/* Base Styles for the Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  width: 100%;
  height: calc(100vh - 100px); /* Use 100vh for full viewport height minus a fixed value */
  text-align: center; /* Added for text inside the container */
}

/* Hero Image */
.hero img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow: 0 4px 15px white;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.hero img:hover {
  transform: scale(1.1);
}

/* Hero Heading */
.hero h1 {
  font-size: 40px;
  font-weight: 700; 
  margin-top: 15px;
  color: white;
}


.hero h1 span {
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px; 
}


.hero p {
  font-size: 24px;
  color: white;
  font-weight: 500;
  max-width: 600px;
  margin-top: 10px;
  line-height: 1.5; 
}


.hero-action {
  margin-top: 30px;
  display: flex;
  gap: 20px; 
  flex-wrap: wrap; 
  justify-content: center;
}


.hero-connect,
.hero-resume {
  padding: 16px 32px; 
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600; 
  transition: all 0.3s ease; 
  text-decoration: none; 
  text-align: center;
}

/* Connect Button */
.hero-connect {
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  color: white;
  border: 2px solid transparent;
}

.hero-connect:hover {
  transform: translateY(-3px); 
  border-color: white; 
}

/* Resume Button */
.hero-resume {
  background-color: transparent; 
  color: white;
  border: 2px solid white;
}

.hero-resume:hover {
  transform: translateY(-3px); 
  border-color: #B415FF; 
  background-color: rgba(0, 0, 0, 0.2); 
}


@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 30px 15px;
  }

  .hero img {
    width: 120px;
    height: 120px;
  }

  .hero h1 {
    font-size: 28px; 
    line-height: 1.2;
  }

  .hero h1 span {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.6;
    padding: 0 10px;
  }

  .hero-action {
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    width: 100%;
  }

  .hero-connect,
  .hero-resume {
    width: 100%; 
  }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }
    .hero h1 span {
        font-size: 24px;
    }
    .hero-connect, .hero-resume {
        font-size: 14px;
        padding: 14px 20px;
    }
}