.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 160px;
   /* width: 100%; */
   /* background-color: red; */
}

 .about-title {
   position: relative;

}

.about-title h1 {
   padding: 0px 30px;
   font-size: 80px;
   font-weight: 600;
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.about-sections {
   display: flex;
   gap: 80px;
}

.about-left img {
  height: 65vh;
  width: 95%;
  object-fit: cover;
  border: 5px solid #f4f4f4;
}

.about-right {
   display: flex;
   flex-direction: column;
   gap: 80px;


}

 .about-para  {
   display: flex;
   flex-direction: column;
   gap: 20px;
   font-size: 24px;
   font-weight: 500;
    
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill{
   display: flex;
   gap: 50px;
   align-items: center;
   transition: 0.3s;
}
.about-skill p{
   min-width: 150px;
   font-size: 24px;
   font-weight: 500;
}
.about-skill hr{
   outline: none;
   border: none;
   width: 50%;
   height: 8px;
   border-radius: 50px;
   background: linear-gradient(264deg,#DF8908 -5.09%,#B415FF 106.28%);
}
.about-skill:hover{
   transform: scale(1.05);
   transition: 0.3s;
}
@media (max-width: 768px) {
  .about {
    margin: 40px 20px;
    gap: 60px;
    align-items: center;
 
    width: 100%;
  }

  .about-title h1 {
    font-size: 42px;
    text-align: center;
  }

  .about-title img {
    width: 120px;
    right: 0;
  }

  .about-sections {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
  }

  .about-left {
    display: none; /* Hiding image on small screens, as desired */
  }

  .about-right {
    max-width: 100%;
    gap: 60px;
  }

  .about-para {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    padding: 0 10px;
  }

  .about-skills {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 25px; */
  }

  .about-skill {
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .about-skill p {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }

  .about-skill hr {
    width: 100%;
    height: 6px;
  }
}
