* {
  margin: 0;
  padding: 0;
}
body {
  /* height: calc(100% - 100px); */
  background: #161513;
  color: white;
  font-family: "outfit";
}

.navbar img {
  height: 25vh;
  cursor: pointer;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px 170px; */
  width: 100%;
 
  

}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  cursor: pointer;
}

.nav-menu li {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
}

.nav-menu p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.nav-menu img {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 12px;
  transition: all 0.3s ease-in-out;
}

.nav-connect {
  padding: 20px 30px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}
.anchor-link {
  text-decoration: none;
  color: white;
}
.menu-icon {
  display: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1100;
}

@media (max-width: 768px) {
  .navbar {
    margin: 0;
    padding: 10px 20px;
    width: 80%;
    height: 100%;
  }
  .menu-icon {
    display: block;
    width: 35px;
    height: 35px;
    z-index: 1100;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #1f0016;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    transition: right 0.5s ease-in-out;
    z-index: 999;
  }
  .nav-menu.open {
    right: 0;
  }
  .nav-connect {
    display: none;
  }
  .nav-menu li {
    font-size: 24px;
    text-align: center;
  }
}
